.forgot-password {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba(231, 231, 231);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0%;
  left: 0;
  .forgot-password-container{
    width: 25vw;
    height: 30vh;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    >h2{
        margin-top: 1vmax;
        font: 300 1.5vmax "Roboto";
        color: rgba(0,0,0,0.625);
        border-bottom: 1px solid rgba(85, 84, 84, 0.525);
        padding-bottom: 1vmax;
        width: 50%;
    }
    >div{
        margin-top: 2vmax;
        > input {
            text-align: left;
            padding-left: 3vmax;
            padding-right: 1vmax;
            width: 75%;
            height: 2.2vmax;
            font: 300 0.9vmax cursive;
            border-radius: 4px;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.678);
        }

        >svg{
            padding-top: 0.4vmax;
            position: absolute;
            transform: translateX(1vmax);
            font-size: 1.6vmax;
            color: rgba(0,0,0,0.623);
            margin: 0 auto;
        }
    }
    >button{
        margin: auto;
        margin-top: 2rem;
        width: 40%;
        height: 2rem;
        color: white;
        background-color: tomato;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.378);
        border-radius: 4px;

        &:hover{
            background-color: rgb(194, 35, 8);
        }
        cursor: pointer;
    }
  }
}
