.order-table{
    min-height: 60vh;
    width: 97%;
    margin: auto;
    margin-top: 3vmax;
}

.headers-colour{
    color: tomato !important;
}

.MuiSvgIcon-root{
    color: tomato !important;
}

.Mui-TableHeadCell-Content-Wrapper{
    color: rgba(255, 54, 18, 0.625) !important;
}


